<h1>Kurser</h1>
<div class="filter">
    <label for="filter">Filtrera kurser</label>
    <input type="text" id="filter" [(ngModel)]="filterValue" (input)="applyFilter()">
</div>
@if (filteredCourses.length === 0){
    Inga kurser som innehåller sökfrasen
}
<table>
    <tr>
    <th>Kurskod</th>
    <th>Kursnamn</th>
    <th>Progression</th>
    <th>Kursplan</th>
    </tr>
    <tr *ngFor="let course of filteredCourses">
    <td>{{course.code}}</td>
    <td>{{course.coursename}}</td>
    <td>{{course.progression}}</td>
    <td><a href="{{course.syllabus}}">Länk kursplan</a></td>
    </tr>
    </table>

